/* line 41, ../sass/icons.scss */
.icon-home {
  width: 0.49rem;
  height: 0.49rem;
  background-image: url('/images/icons-sc8a2a8204b.png');
  background-position: 0 -0.98rem;
  background-size: 0.49rem 4.9rem;
  background-repeat: no-repeat;
}

/* line 44, ../sass/icons.scss */
.active .icon-home {
  background-position: 0 -1.47rem !important;
}

/* line 47, ../sass/icons.scss */
.icon-cart {
  width: 0.49rem;
  height: 0.49rem;
  background-image: url('/images/icons-sc8a2a8204b.png');
  background-position: 0 0;
  background-size: 0.49rem 4.9rem;
  background-repeat: no-repeat;
}

/* line 50, ../sass/icons.scss */
.active .icon-cart {
  background-position: 0 -0.49rem !important;
}

/* line 53, ../sass/icons.scss */
.icon-sort {
  width: 0.49rem;
  height: 0.49rem;
  background-image: url('/images/icons-sc8a2a8204b.png');
  background-position: 0 -2.94rem;
  background-size: 0.49rem 4.9rem;
  background-repeat: no-repeat;
}

/* line 56, ../sass/icons.scss */
.active .icon-sort {
  background-position: 0 -3.43rem !important;
}

/* line 59, ../sass/icons.scss */
.icon-tool {
  width: 0.49rem;
  height: 0.49rem;
  background-image: url('/images/icons-sc8a2a8204b.png');
  background-position: 0 -3.92rem;
  background-size: 0.49rem 4.9rem;
  background-repeat: no-repeat;
}

/* line 62, ../sass/icons.scss */
.active .icon-tool {
  background-position: 0 -4.41rem !important;
}

/* line 65, ../sass/icons.scss */
.icon-my {
  width: 0.49rem;
  height: 0.49rem;
  background-image: url('/images/icons-sc8a2a8204b.png');
  background-position: 0 -1.96rem;
  background-size: 0.49rem 4.9rem;
  background-repeat: no-repeat;
}

/* line 68, ../sass/icons.scss */
.active .icon-my {
  background-position: 0 -2.45rem !important;
}
