@charset "UTF-8";
/* line 2, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 3, ../sass/main.scss */
body {
  color: #333;
  font: 400 14px/1.3 "Helvetica Neue",Helvetica,Arial,sans-serif,'\5b8b\4f53';
}

/* line 4, ../sass/main.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote，th, td {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 6, ../sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../sass/main.scss */
fieldset, img {
  border: 0;
}

/* line 8, ../sass/main.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 9, ../sass/main.scss */
ol, ul {
  list-style: none;
}

/* line 10, ../sass/main.scss */
q:before, q:after {
  content: ' ';
}

/* line 11, ../sass/main.scss */
.mt_20 {
  margin-top: 20px;
}

/* line 12, ../sass/main.scss */
.ml_20 {
  margin-left: 20px;
}

/* line 13, ../sass/main.scss */
.pt-15 {
  padding-top: 15px;
}

/* line 14, ../sass/main.scss */
.pl-20 {
  padding-left: 20px;
}

/* line 15, ../sass/main.scss */
.w-225 {
  width: 225px;
}

/*****文字排版******/
/* line 17, ../sass/main.scss */
.f12 {
  font-size: 12px;
}

/* line 18, ../sass/main.scss */
.f13 {
  font-size: 13px;
}

/* line 19, ../sass/main.scss */
.f14 {
  font-size: 14px;
}

/* line 20, ../sass/main.scss */
.f16 {
  font-size: 16px;
}

/* line 21, ../sass/main.scss */
.f20 {
  font-size: 20px;
}

/* line 22, ../sass/main.scss */
.fb {
  font-weight: bold;
}

/* line 23, ../sass/main.scss */
.fn {
  font-weight: normal;
}

/****定位****/
/* line 25, ../sass/main.scss */
.tl {
  text-align: left;
}

/* line 26, ../sass/main.scss */
.tc {
  text-align: center;
}

/* line 27, ../sass/main.scss */
.tr {
  text-align: right;
}

/* line 28, ../sass/main.scss */
.bc {
  margin-left: auto;
  margin-right: auto;
}

/* line 29, ../sass/main.scss */
.fl {
  float: left;
}

/* line 30, ../sass/main.scss */
.fr {
  float: right;
}

/* line 31, ../sass/main.scss */
.cb {
  clear: both;
}

/* line 32, ../sass/main.scss */
.cl {
  clear: left;
}

/* line 33, ../sass/main.scss */
.cr {
  clear: right;
}

/* line 34, ../sass/main.scss */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 35, ../sass/main.scss */
.clearfix {
  zoom: 1;
}

/* line 36, ../sass/main.scss */
.hidden {
  visibility: hidden;
}

/* line 37, ../sass/main.scss */
.none {
  display: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 48, ../sass/main.scss */
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 59, ../sass/main.scss */
.glyphicon-ok:before {
  content: "\e013";
}

/* line 60, ../sass/main.scss */
.glyphicon-ok-circle:before {
  content: "\e089";
}

/* line 61, ../sass/main.scss */
.glyphicon-remove-circle:before {
  content: "\e088";
}

/* line 62, ../sass/main.scss */
.glyphicon-remove:before {
  content: "\e014";
}
